.head{
	width: 1920px;
	height: 102px;
	margin: 0 auto;
	background: #d1e1f0;
}
.logo{
	background:url(logo.png) top left no-repeat;
	width: 176px;
	height: 38px;
	display: block;
	margin: 32px 120px 32px 375px;
	float: left;
	}
.home li{
	float:left;
	display: block;
	
	margin: 43px 0px 0px 0px;
	
}
.home a{
	text-decoration: none;
	color: #2c70b7;
	font-size: 16px;
	padding: 43px 0px 0px 60px;
}
.line{
	width: 1px;
	height: 53px;
	background:#2c70b7;
	float: right; 
	margin: -30px; 
}
.search{
	width: 200px;
	height: 30px;
	float: left;
	border: 1px solid #2c70b7;
	background:#d1e1f0;
	margin: 35px 0 31px 65px ;
	box-sizing: border-box;
	}
.form input[type="text"] {
	width: 140px;
	height: 24px;
	color:#2c70b7;
	background:#d1e1f0; 
	border: 0;
	font-size: 16px; 
	padding-left: 20px;
}
.form input[type="submit"]
 {
	width: 12px;
	height: 12px;
	background: url(search.png) center left no-repeat;
}
.bas{width: 30px;
	height: 30px;
	float: left;
	border: 1px solid #2c70b7;
	background:white;
	margin: 35px 0 31px 32px ;
	box-sizing: border-box;}
.basket{background: url(basket.png) center  no-repeat;
	width: 18px;
	height: 20px;
	display: block;
	padding: 3px;
}
.linee{
	width: 1px;
	height: 53px;
	background:#2c70b7;
	float: left; 
	margin: -11px -23px 10px 20px;
}