.head{
	width: 1920px;
	height: 102px;
	margin: 0 auto;
	background: #d1e1f0;
}
.logo{
	background:url(logo.png) top left no-repeat;
	width: 176px;
	height: 38px;
	display: block;
	margin: 32px 120px 32px 375px;
	float: left;
	}
.home li{
	float:left;
	display: block;
	
	margin: 43px 0px 0px 0px;
	
}
.home a{
	text-decoration: none;
	color: #2c70b7;
	font-size: 16px;
	padding: 43px 0px 0px 60px;
}
.line{
	width: 1px;
	height: 53px;
	background:#2c70b7;
	float: right; 
	margin: -30px; 
}